<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/static/index.css">
        <link rel="stylesheet" type="text/css" href="/static/styles.css" />

    </head>

    <body>
        <h1><center>Search App</center></h1>
        <div class="sub-heading"><h3>Top 10 {{ option }}</h3></div><br>

        <table >
            <tr class="info-row">
                <td class="info"><div class="count">Number of results: {{ count }}</div></td>
                <td class="info"><div class="search-time">Time taken: {{ time }} sec</div></td>
            </tr>
        </table>

        <div class="results">
            {% for tweet in top_10_tweets %}
            <div class="element">

                <table>
                    <tr>
                      
                      <td rowspan="2"><div class="circle"><img src="{{ tweet['postgresql_data']['profile_url'] }}" alt="Profile Image"></div></td>

                      {% if option == "tweets" %}
                      <td><div class="display-name"><a href="{{url_for('info', id=tweet['couchbase_data']['Tweets_Data']['user_id'])}}" rel="nofollow">{{ tweet['postgresql_data']['name'] }}</a></div></td>
                      {% elif option == "users" %}
                      <td><div class="display-name"><a href="{{url_for('info', id=tweet['couchbase_data']['user_id'])}}" rel="nofollow">{{ tweet['postgresql_data']['name'] }}</a></div></td>
                      {% endif %}
                    </tr>
                    <tr>
                      <td><div class="screen-name">@{{ tweet['postgresql_data']['screen_name'] }}</div></td>
                    </tr>
                </table>
                <br><br>

                {% if option == "tweets" %}
                <div class="tweet-text">{{ tweet['couchbase_data']['Tweets_Data']['text'] }}</div><br><br>
                {% endif %}

                <table>
                    <tr>
                        {% if option == "users" %}
                        <td class="ele1"><div class="created-at">Tweet Count: {{ tweet['couchbase_data']['tweet_count'] }}</div></td>
                        {% elif option == "tweets" %}
                        <td class="ele1"><div class="created-at">Created at: {{ " ".join(tweet['couchbase_data']['Tweets_Data']['created_at'].split("T")) }}</div></td>
                        <td class="ele2"><div class="tweet-source">Source: {{ tweet['couchbase_data']['Tweets_Data']['source'].split(" ")[-1][:-4] }}</div></td>
                        {% endif %}
                    </tr>
                </table>
                <br>

                {% if option == "tweets" %}
                <div class="row">
                    <div class="column quote-count"><b>{{ tweet['couchbase_data']['Tweets_Data']['quote_count'] }}</b> Quotes</div>
                    <div class="column reply-count"><b>{{ tweet['couchbase_data']['Tweets_Data']['reply_count'] }}</b> Replies</div>
                    <div class="column retweet-count"><b>{{ tweet['couchbase_data']['Tweets_Data']['retweet_count'] }}</b> Retweets</div>
                </div>
                <br>
                {% endif %}

                <table>
                    <tr>
                        <td class="ele1">
                            {% if option == "tweets" %}
                            {% if tweet['couchbase_data']['Tweets_Data']['retweet_id']!=None %}
                            <div class="retweet-id">Original Tweet: <a>{{ tweet['couchbase_data']['Tweets_Data']['retweet_id'] }}</a></div>
                            {% elif tweet['couchbase_data']['Tweets_Data']['retweet_id']==None %}
                            <div class="retweet-id">Original Tweet: {{ tweet['couchbase_data']['Tweets_Data']['retweet_id'] }}</div>
                            {% endif %}
                            {% endif %}
                        </td>
                        {% if option == "tweets" %}
                        <td class="ele2"><div class="tweet-lang">Language: {{ tweet['couchbase_data']['Tweets_Data']['lang'] }}</div></td>
                        {% endif %}
                    </tr>
                </table>
    
            </div>
            {% endfor %}
            
        </div>

           
            


            
        </div>

        

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>

</html> 